.card {
  padding: 1rem 0;
  width: 100%;

  @media (min-width: 560px) {
    padding: 1rem;
  }

  @media (min-width: 768px) {
    width: calc(100% / 2);
  }

  @media (min-width: 960px) {
    width: calc(100% / 3);
  }

  &[type="people"] {
    .card__img {
      border-color: nth($navColors, 2);
    }

    .card__category {
      background-color: nth($navColors, 2);
    }
  }

  &[type="Starships"] {
    .card__img {
      border-color: nth($navColors, 3);
    }

    .card__category {
      background-color: nth($navColors, 3);
    }
  }

  &[type="vehicles"] {
    .card__img {
      border-color: nth($navColors, 4);
    }

    .card__category {
      background-color: nth($navColors, 4);
    }
  }

  &[type="species"] {
    .card__img {
      border-color: nth($navColors, 5);
    }

    .card__category {
      background-color: nth($navColors, 5);
    }
  }

  &[type="planets"] {
    .card__img {
      border-color: nth($navColors, 6);
    }

    .card__category {
      background-color: nth($navColors, 6);
    }
  }

  &[type="films"] {
    .card__img {
      border-color: nth($navColors, 7);
    }

    .card__category {
      background-color: nth($navColors, 7);
    }
  }

  &__inner {
    height: 100%;
    background: #222;
    border-radius: 0.375rem;
    overflow: hidden;

    display: flex;
    align-items: stretch;

    @media (max-width: 560px) {
      flex-wrap: wrap;
    }
  }

  &__img {
    flex: 1 1 35%;
    position: relative;
    height: 0;
    padding-bottom: 50%;
    border-bottom: 0.25rem solid #2E65AB;

    @media (min-width: 560px) {
      height: auto;
      padding-bottom: 0;
      border-bottom: 0;
      border-right: 0.25rem solid #2E65AB;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 1rem;
    line-height: 1.25;

    strong {
      color: #2E65AB;
    }
  }

  &__title {
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 0.375rem;
  }

  &__categories {
    width: 100%;
  }

  &__category {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.375rem;

    background: #3273c5;
    color: #fff;
    text-decoration: none;

    &:hover {
      background-color: darken(#3273c5, 10);
    }
  }
}
