.results {
  display: flex;
  flex-wrap: wrap;

  padding: 1rem 0;


  &__nav {
    display: flex;
    justify-content: center;
    padding: 1rem 0;

    &__item {
      color: #fff;
      font-size: 1.25rem;
      padding: 0 0.25rem;

      &:hover,
      &--active {
        color: #3273c5;
      }
    }
  }
}
