.header {
  background-color: #222;

  &__logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;

    background-image: url('/static/header_bg.jpeg');
    background-size: cover;
    background-position: center center;

    @media (min-width: 760px) {
      padding: 10rem 0rem;
    }

    &__img {
      width: 100%;
      max-width: 30rem;
      margin: 0 auto 2rem;

      img {
        width: 100%;
      }
    }
  }

  form {
    width: 100%;
    max-width: 30rem;
    margin: auto;
  }

  input {
    width: 100%;
    border: 0;
    padding: 0.75rem 1rem;
    border-radius: 5px;
  }
}
