$navColors: #2E65AB, #AA411E, #9B6625, #E2E14D, #414E28, #3F9557, #7E424F;

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    width: calc(100% / 3);

    padding: 0.5rem 0;

    color: #aaa;
    font-size: 0.9rem;
    letter-spacing: 1px;

    border-bottom: 1px solid #333;
    border-right: 1px solid #333;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &:nth-child(1) {
      display: none;
    }

    @media (min-width: 768px) {
      flex-direction: column;
      width: calc(100% / 7);

      border-bottom: 0;

      &:nth-child(1) {
        display: flex;
      }
    }

    &:hover {
      background: rgba(0,0,0,0.25);
    }

    svg {
      font-size: 2rem;
      margin: 0.25rem 0.5rem;

      @media (min-width: 768px) {
        margin: 0 auto 0.5rem;
      }
    }

    @each $color in $navColors {
      $i: index($navColors, $color);

      &:nth-child(#{$i}) {
        svg {
          color: $color;
        }
      }
    }
  }
}
